body {
    background-image: url("https://img.freepik.com/vector-gratis/fondo-tecnologia-azul-geometrico-degradado_52683-78527.jpg");
    background-size:contain ;
    background-position: center; 
}

.image{
    border: 5px solid green;
    border-radius: 10px;
    height: 400px;
}

.link-button {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: white;
    border-radius: 90rem;
    background-color: black;
    padding: 5px;
    box-shadow: 2px 3px #177fbb6c;
    transition-duration: 2s;
}

.link-button:hover {
    transform: scale(.5);
}
