body {
    background-color: rgb(255, 255, 165);
}

.image{
    border: 5px solid green;
    border-radius: 10px;
    height: 400px;
}

.link-button {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: black;
    border-radius: 90rem;
    background-color: #f2f2f2;
    padding: 5px;
    box-shadow: 2px 3px #bb17176c;
    transition-duration: 5s;
    
}