body {
    background-image: url("https://img.freepik.com/vector-gratis/fondo-tecnologia-azul-geometrico-degradado_52683-78527.jpg");
    background-size:contain ;
    background-position: center;
}

.image{
    border: 5px solid green;
    border-radius: 10px;
    height: 400px;
}

.link-button {
    color: black;
    border: 1px solid gray;
    background-color: #f2f2f2;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 3px #888888;
}
